<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/assets/font-awesome/css/all.css">

    <th:block th:replace="/layout/head :: head" />
</head>

<body>
<div id="wrapper" style="margin-bottom: 230px">
    <!--header-->
    <div class="header">

        <th:block th:replace="/layout/header :: header" />
    </div>
    <!--end header-->

    <!--sidebar-->
    <div class="side-bar">

        <th:block th:replace="/layout/sidebar :: sidebar" />
    </div>
    <!--end sidebar-->

    <!--main content-->
    <div class="content-page">
    <main id="main" class="main">

        <div class="pagetitle">
            <button id="addUser" class="btn btn-outline-primary btn-add"
                    style="margin-left: 15px">
                <i class="fa fa-plus"></i> Add new Customer
            </button>
        </div>
        <!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <div class="responsive-table-plugin">
                            <div class="table-rep-plugin">
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table id="tbListUsers" class="table table-hover table-bordered tbListUsers">
                                        <thead>
                                        <tr style="background-color: #9ce9">
                                            <th></th>
                                            <th>#</th>
                                            <th>Image</th>
                                            <th>FullName</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Province</th>
                                            <th>District</th>
                                            <th>Ward</th>
                                            <th>Address</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    </div>
    <!-- End #main -->
    <!--end main content-->
</div>


<div class="footer" style="text-align: right"></div>
<!--footer-->
<th:block th:replace="/user/footer :: footerr" />
<!--end footer-->

<!--script-->
<th:block th:replace="/layout/script :: script" />

<th:block th:replace="/user/modal_create :: modal_create" />

<th:block th:replace="/user/modal-update :: modal_update" />

<th:block th:replace="/user/temp_row_customer :: temp_row_customer" />

<!--end script-->

<script >

        let locationRegion = new LocationRegion();
        let role = new Role();
        let user = new User();
        let userId = null;

        let tempRowCustomer = $.validator.format($.trim($('#tempRowCustomer').val().toString()));

        function addRowCustomer() {
            $('#tbListUsers tbody').prepend($(tempRowCustomer(user.id,user.id,user.urlImage, user.fullName, user.email, user.phone, user.locationRegion.provinceName, user.locationRegion.districtName, user.locationRegion.wardName, user.locationRegion.address)));
        }
        function replaceRowCustomer() {
            $('#tr_' + user.id).replaceWith($(tempRowCustomer(user.id,user.id,user.urlImage, user.fullName,user.email, user.phone, locationRegion.provinceName, locationRegion.districtName, locationRegion.wardName, locationRegion.address)));
        }
        function loadAllUser(){
            return $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": "http://localhost:8080/api/users"
            })
                .done((data) =>{
                    $("#tbListUsers tbody").html("");
                    console.log(data);
                    $.each(data, (i,item)=>{
                        user = item;
                        locationRegion = user.locationRegion;

                        addRowCustomer();
                    })
                    handleShowFooter();

                })
                .fail((jqXHR) => {
                    console.log(jqXHR);
                })
        }

        function unbindAll(){
            $("#tbListUsers tbody tr").off();
        }

        function handleShowFooter() {
            $("#tbListUsers tbody tr").on('click', function () {
                userId = $(this).attr('id').replace('tr_', '');

                let tempFooter = $.validator.format($.trim($('#tempFooter').val().toString()));

                $('.footer').html(tempFooter);

                handleShowUpdate();
            });
        }
        function drawProvinces() {
            return $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": "https://vapi.vnappmob.com/api/province/",
            })
                .done((data) => {
                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.province_id}">${item.province_name}</option>`;

                        $('#province').prepend(str);
                        $('#provinceUp').prepend(str);
                    })
                })
                .fail((jqXHR) => {
                    console.log(jqXHR);
                })
        }

        function drawDistricts(provinceId) {
            return $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": "https://vapi.vnappmob.com/api/province/district/" + provinceId,
            })
                .done((data) => {
                    $('#district').html('');
                    $('#districtUp').html('');

                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.district_id}">${item.district_name}</option>`;

                        $('#district').prepend(str);
                        $('#districtUp').prepend(str);
                    })
                })
                .fail((jqXHR) => {
                    console.log(jqXHR);
                })
        }

        function drawWards(districtId) {
            return $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": "https://vapi.vnappmob.com/api/province/ward/" + districtId,
            })
                .done((data) => {
                    $('#ward').html('')
                    $('#wardUp').html('')
                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;

                        $('#ward').prepend(str);
                        $('#wardUp').prepend(str);
                    })
                })
                .fail((jqXHR) => {
                    console.log(jqXHR);
                })
        }

        drawProvinces().then(() => {
            let provinceId = $('#province').val();
            drawDistricts(provinceId).then(() => {
                let districtId = $('#district').val();
                drawWards(districtId);
            });
        });

        $("#province").on('change', ()=>{
            let provinceId = $('#province').val();
            drawDistricts(provinceId).then(() => {
                let districtId = $('#district').val();
                drawWards(districtId);
            });
        })

        $("#district").on('change', () =>{
            let districtId = $('#district').val();
            drawWards(districtId);
        })

        $('#addUser').on('click', function (){
            $('#modalCreateUser').modal('show')
        })
        $('#btnCreateUser').on('click', () =>{
            locationRegion.provinceId = $('#province').val()
            locationRegion.provinceName = $('#province :selected').text()
            locationRegion.districtId = $('#district').val()
            locationRegion.districtName = $('#district :selected').text()
            locationRegion.wardId = $('#ward').val()
            locationRegion.wardName = $('#ward :selected').text()
            locationRegion.address = $('#address').val()

            delete user.id;
            role.id = $('#role').val();
            user.fullName = $('#fullName').val();
            user.username = $('#userName').val();
            user.password = $("#password").val();
            // user.email = $('#email').val();
            user.phone = $('#phone').val();
            user.urlImage = 'user.png';
            user.role = role;
            user.locationRegion = locationRegion;

            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "POST",
                "url": "http://localhost:8080/api/users/create",
                "data": JSON.stringify(user)
            })
            .done((data) => {
                user = data;

                locationRegion = user.locationRegion

                role = user.role

                addRowCustomer();

                $('#modalCreateUser').modal('hide');

                App.SweetAlert.showSuccessAlert("Create user success");

                unbindAll();

                handleShowFooter();

            })
            .fail( (jqXHR) => {
                App.SweetAlert.showErrorAlert("Create user Fail")
                console.log(jqXHR)
                $(' .modal-alert-danger').html('').removeClass('hide').addClass('show');

                if (jqXHR.responseJSON.message) {
                    let msg = jqXHR.responseJSON.message;

                    let str = `<label id="message-error" class="error" for="message">${msg}</label>`;

                    $('#modalCreateUser .modal-alert-danger').append(str);
                }
                else if (jqXHR.responseJSON) {
                    $.each(jqXHR.responseJSON, (key, item) => {
                        let str = `<label id="${key}-error" class="error" for="${key}">${item}</label>`;
                        $("#" + key).addClass("error");

                        $('#modalCreateUser .modal-alert-danger').append(str);
                    })
                }
                } )



        })




</script>
</body>
</html>